<div class="row justify-content-center">

  <div *ngFor="let project of projects" class="col-sm-12 col-md-6 col-lg-4 mb-2">
    <div class="card d-flex m-2 mx-auto p-0 w-100 h-100">

      <div class="card-header">{{ project.semester }}</div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>

        <div *ngIf="project.link" class="mt-auto text-end">
          <a class="btn btn-sm btn-light" href="{{ project.link.url}}" target="_blank">
            {{ project.link.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
