@import "../scss/variables.scss";

// NAVBAR
nav {
  background-color: $phthalo-green;
  font-size: larger;
}

.navbar-light {

  // NAV ITEMS
  .nav-item {
    .nav-link {
      color: antiquewhite;
    }

    .nav-link:hover {
      color: $dark-sea-green;
    }

    .nav-link.active {
      color: $dark-sea-green;
    }
  }

  // HAMBURGER MENU
  .navbar-toggler {
    color: antiquewhite;
    border-color: antiquewhite;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250, 235, 215, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

// BODY
body {
  background-color: $dark-sea-green;
  color: darkslategray;
}

// CARDS
.card {
  color: darkslategray;

  .btn-light {
    color: antiquewhite;
    background-color: $phthalo-green;
  }

  .btn-light:hover {
    background-color: $dark-sea-green;
  }
}

// LIST GROUP
.list-group-item {
  color: darkslategray;
}

// ACCORDION
.accordion {
  .accordion-header {
    .accordion-button {
      color: darkslategray;
    }

    .accordion-button:not(.collapsed) {
      color: $dark-sea-green;
      background-color: $phthalo-green;
      box-shadow: inset 0 -1px 0 rgb(18 53 36 / 13%);
    }

    .accordion-button:focus {
      z-index: 3;
      border-color: $phthalo-green;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(18 53 36 / 25%);
    }

    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2317301c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238fbc8f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
  }

  .accordion-body {
    color: darkslategray;
  }
}

// EDUCATION COMPONENT ONLY
.education-row {
  color: $phthalo-green;
  background-color: $russian-green;
  border-radius: 5px;
}


